<div id="content" class="fade">
  <h3>{{job}}</h3>
  <h4 class="text-white">{{time}}</h4>
  <ul>
    <li>
      <h4>
        <span class="text-orange-300 font-extrabold text-xl">> </span>{{list1}}
      </h4>
    </li>
    <li>
      <h4>
        <span class="text-orange-300 font-extrabold text-xl">> </span>{{list2}}
      </h4>
    </li>
    <li>
      <h4>
        <span class="text-orange-300 font-extrabold text-xl">>
        </span>
        {{list3}}
      </h4>
    </li>
  </ul>
</div>